extends layout

block content

  include addsearchuser

  h1= title
  p Welcome to #{title}
  table(class="table table-striped" )
   tr
      th id
      th name
      th age
      th operation
      each user , index in userlist
       tr  
         td
          button(type="button" class="btn btn-default")  
           a(href='/updateuser/#{user._id}') #{user._id}
         td=user.name 
         td=user.age
         td
          button(type="button" class="btn btn-warning")
           a(href='/deluser/#{user._id}') 删除       
  h1
    button(type="button" class="btn btn-success btn-lg")
     a(href='/userlist') 用户列表首页


       
     
         
     
    